@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-card-gradient{
  background: rgb(0,0,0);background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 0%, rgb(148, 40, 248) 100%);
}
.text-gradient{
  background: -webkit-linear-gradient(#ffffff,rgb(252, 77, 247));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bg-gradient-circle{
  /* background: rgb(131,58,180); */
background: radial-gradient(circle at 390px 320px , 
rgb(92, 10, 146) 0%, 
rgba(252,176,69,0) 24%);
}
.bg-gradient-circle-top-left{
  /* background: rgb(131,58,180); */
background: radial-gradient(circle at 150px 150px , 
rgb(67, 1, 111) 0%, 
rgba(252,176,69,0) 39%);
}

.gradient {
	width: 100vw;
	background: linear-gradient(334deg, #1b013d, #000000, #460a99);
	background-size: 180% 180%;
	animation: gradient-animation 6s ease infinite;
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.card-bg-gradient{
  background: rgb(34,1,55);
  background: linear-gradient(148deg, rgba(34,1,55,1) 0%, rgba(255,255,255,0) 95%);}